<template name="Form_cambiar_password">
    <form class="form-group" id="formCambiarPass">
        <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
            <input type="password" class="form-control" id="modPassActual" minlength="8" maxlength="15" placeholder="Actual contraseña" required><br>
            <input type="password" class="form-control" id="modPass" minlength="8" maxlength="15" placeholder="Nueva  contraseña" required><br>
            <input type="password" class="form-control" id="modPassConf" minlength="8" maxlength="15" placeholder="Repita contraseña" required><br>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
            <button type="submit" data-toggle="tooltip" title="Guardar nueva contraseña" class="btn-danger form-control"><span class="glyphicon glyphicon-check"></span></button>
        </div>
    </form>
</template>