<template name="Form_recuperar">
    <form id="recuperar-form" class="hidden" action="#" method="post" role="form">
        <div class="form-group">
            <input type="email" name="recoEmail" id="recoEmail" tabindex="1" maxlength="40" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="recuperar-submit" id="recuperar-submit" tabindex="2" class="form-control btn btn-login" value="Recuperar">
                </div>
            </div>
        </div>
    </form>
</template>