<template name="Form_cambiar_avisos">
    <form class="form-group" id="formCambiarAvisos">
        <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
            <select class="form-control" id="modAvisos" required>
                <option value="Recibir">Recibir</option>
                <option value="No recibir">No recibir</option>
            </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
            <button type="submit" data-toggle="tooltip" title="Guardar avisos" class="btn-danger form-control"><span class="glyphicon glyphicon-check"></span></button>
        </div>
    </form>
</template>