<template name="Form_foro">
    <form id="form_foro" class="form-horizontal">
        <legend><span class="col-lg-offset-1 col-md-offset-1">Nuevo mensaje</span></legend>
        <div class="form-group">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <textarea class="form-control" id="input_foro" rows="2" maxlength="150" placeholder="Escriba su mensaje" required></textarea>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <button type="submit" data-toggle="tooltip" title="Enviar mensaje" class="btn-primary form-control"><span class="glyphicon glyphicon-check"></span></button>
            </div>
        </div>
    </form>
</template>