<template name="Form_video">
    <form id="form_add_video" class="form-horizontal">
        <legend><span class="col-lg-offset-1 col-md-offset-1">Nuevo video</span></legend>
        <div class="form-group">
            <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
                <input type="text" id="nombre_add_video" class="form-control" placeholder="Nombre" maxlength="30" required>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button type="button" id="verVideo" data-toggle="tooltip" title="Ver video" class="btn-warning form-control"><span class="glyphicon glyphicon-film"></span></button>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
                <input type="url" id="url_add_video" class="form-control" placeholder="http://Url" maxlength="100" required>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <button type="submit" data-toggle="tooltip" title="Guardar canción" class="btn-danger form-control"><span class="glyphicon glyphicon-check"></span></button>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
                <select class="form-control" id="jug_add_video">
                    <option value="1">1 Jugador</option>
                    <option value="2">2 Jugadores</option>
                    <option value="3">3 Jugadores</option>
                    <option value="4">4 Jugadores</option>
                </select>
            </div>
        </div>
    </form>
</template>