<template name="Nav_solo_view">
    {{#if miCuentaActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Mi cuenta
            </a>
        </li>
    {{/if}}
    {{#if juegoActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-fire"></span> Juego
            </a>
        </li>
    {{/if}}
    {{#if cuentasActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Cuentas
            </a>
        </li>
    {{/if}}
    {{#if imagenesActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Imágenes
            </a>
        </li>
    {{/if}}
    {{#if personajesActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Personajes
            </a>
        </li>
    {{/if}}
    {{#if musicaActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Música
            </a>
        </li>
    {{/if}}
    {{#if videosActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Videos
            </a>
        </li>
    {{/if}}
    {{#if parCronActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Cron
            </a>
        </li>
    {{/if}}
    {{#if parPartidaActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Partida
            </a>
        </li>
    {{/if}}
    {{#if parJuegoActive}}
        <li class="active">
            <a href="#" class="soloView">
                <span class="glyphicon glyphicon-cog"></span> Juego
            </a>
        </li>
    {{/if}}
</template>