<template name="Form_cambiar_nick">
    <form class="form-group" id="formCambiarNick">
        <div class="col-lg-5 col-md-5 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3">
            <input type="text" class="form-control bg-warning" id="modNick" maxlength="15" placeholder="Nuevo nick" required>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
            <button type="submit" data-toggle="tooltip" title="Guardar nuevo nick" class="btn-danger form-control"><span class="glyphicon glyphicon-check"></span></button>
        </div>
    </form>
</template>