<template name="Order_foro">
    <div id="order_container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nav class="navbar navbar-inverse col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2" role="navigation">
            <ul class="nav navbar-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                    <a href="#" id="nickOrder">Nick
                        {{#if nickOrderActive}}
                            <span class="{{orderType}}"></span>
                        {{/if}}
                    </a>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                    <a href="#" id="dateOrder">Fecha
                        {{#if dateOrderActive}}
                            <span class="{{orderType}}"></span>
                        {{/if}}
                    </a>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                    <a href="#" id="msjOrder">Mensaje
                        {{#if msjOrderActive}}
                            <span class="{{orderType}}"></span>
                        {{/if}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>